.text {
  margin: 30px auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 50px 20px;
  background: linear-gradient(45deg, #496053, #759a85);
  color: white;
}
.hope {
  text-align: center;
}
.hope h3 {
  font-family: pacifico;
  font-size: 24px;
  letter-spacing: 1px;
}
.hope p {
  font-style: italic;
}

@media (min-width: 768px) {
  .hope h3 {
    font-size: 28px;
  }
  .text {
    width: 60%;
    padding: 50px 100px;
    border-radius: 50px;
  }
}
