@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --primary: #496053;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary);
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: white;
  height: 20px;
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(-45deg, #496053, #759a85);
  border-radius: 12px;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #43ddff;
  opacity: 0.6;
}
ul {
  list-style: none;
}
